
<div class="container">
  <h2>Driver daily log</h2>
  <form>
    <div class="form-row">
      <div class="col-4">
        <label>Driver</label>
        <input type="text" class="form-control" placeholder="Driver" id="driver">
      </div>
      <div class="col-4">
        <label>AAA / Tag #</label>
        <input type="text" class="form-control" placeholder="AAA Call # / Cash Tag #" id="tag">
      </div>
      <div class="col-4">
        <label>Date</label>
        <input type="date" class="form-control" id="date">
      </div>
    </div>

    <div class="form-row">
      <div class="col-4">
        <label>AAA Member Num</label>
        <input type="text" class="form-control" placeholder="Mem Num" id="mem_num">
      </div>
      <div class="col-4">
        <label>Miles to veh</label>
        <input type="text" class="form-control" placeholder="MTV" id="mtv">
      </div>
      <div class="col-4">
        <label>Towed Miles</label>
        <input type="text" class="form-control" placeholder="Towed Miles" id="tm">
      </div>
    </div>
    <br>
    <div class="form-row">
      <div class="col-4">
        <select class="custom-select" id="reqBy">
          <option selected>Requested by</option>
          <option value="1">AAA</option>
          <option value="2">Shop</option>
          <option value="3">CHP</option>
        </select>
      </div>

      <div class="col-4">
        <select class="custom-select" id="serPer">
          <option selected>Service Performed</option>
          <option value="1">Tow</option>
          <option value="2">Jump</option>
          <option value="3">Fuel</option>
        </select>
      </div>
      <div class="col-4">
        <select class="custom-select" id="memType">
          <option selected>AAA Mem Type</option>
          <option value="1">Basic</option>
          <option value="2">Plus</option>
          <option value="3">Premier</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="col-4">
        <label>Enroute</label>
        <input type="time" class="form-control" placeholder="Enroute" id="er">
      </div>
      <div class="col-4">
        <label>Clear</label>
        <input type="time" class="form-control" placeholder="Clear" id="clear">
      </div>
      <div class="col-4">
        <label>Time on scene</label>
        <input type="text" class="form-control" placeholder="Time on scene" id="tos">
      </div>
    </div>
    <label>Driver Notes</label>
    <textarea class="form-control" aria-label="With textarea" placeholder="Drivers Notes" id="notes"></textarea>
    <br>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="pdr" value="option1">
      <label class="form-check-label" for="inlineCheckbox1">PDR Filed</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="bounty" value="option2">
      <label class="form-check-label" for="inlineCheckbox2">t-13</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="excharg" value="option3">
      <label class="form-check-label" for="inlineCheckbox3">extra charges</label>
    </div>
    <hr>
    <button id="driverLogSubmit" type="submit" class="btn btn-danger">Submit</button>
    <br><br>
  </form>
</div>

  <!--To display some log data-->

  {{!-- fix  --}}
  <div class="container">
    <h5>Driver Log Submitted:</h5>
        <ul id="pdr-list" class="list-group">
          {{#each driverLog}}
          <li data-id="{{this.id}}" class="list-group-item">
            <span>
            <p id="driver-{{this.id}}">Driver: {{this.driver}}  | Call Number: {{this.aaa_call_num}} |  Date: {{this.date}} | Requested By {{this.req_by}}</p>
            </span>
            <button data-id={{this.id}} class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
  </div>
 