<div class="container">
  <h3>YTD Trends and Charts</h3>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', { 'packages': ['gauge'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      
    var cps_sac = 20



    var data = google.visualization.arrayToDataTable([
      ['Label', 'Value'],
      ['Driver', cps_sac],
      ['Overall', 68],
      ['Responce', 82]


    ]);

    var options = {
      width: 500, height: 120,
      greenFrom: 90, greenTo: 100,
      yellowFrom: 75, yellowTo: 90,
      minorTicks: 5
    };

    var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

    chart.draw(data, options);
    }
  </script>

  {{!-- //======================================= sat score guages ======================= --}}
  <script type="text/javascript">
    google.charts.load('current', { 'packages': ['gauge'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {


      var data = google.visualization.arrayToDataTable([
        ['Label', 'Value'],
        ['Driver', 105],
        ['Overall', 68],
        ['Responce', 82]


      ]);

      var options = {
        width: 500, height: 120,
        greenFrom: 90, greenTo: 100,
        yellowFrom: 75, yellowTo: 90,
        minorTicks: 5
      };

      var chart = new google.visualization.Gauge(document.getElementById('chart_div1'));

      chart.draw(data, options);
    }
  </script>
  <label>Sat Scores Sac</label>
  <label>Sat Scores Yuba</label>

  <div class="container">

    <div class="row-1">

      <div id="chart_div" style="width: 600px; height: 150px;"></div>
    </div>
    <div class="row">

      <div id="chart_div1" style="width: 600px; height: 150px;"></div>
    </div>
  </div>





  {{!-- ===============================line graph===================================================== --}}
  <hr>


  <script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['mo', 'calls ran'],
        ['jan', sum3],
        ['feb', 1170],
        ['mar', 660],
        ['apr', 1030]
      ]);

      var options = {
        title: 'AAA Revinue',
        curveType: 'function',
        legend: { position: 'bottom' }
      };

      var chart = new google.visualization.LineChart(document.getElementById('curve_chart0'));

      chart.draw(data, options);
    }

  </script>
  {{!-- =======================================================================================
 --}}
  <script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['mo', 'AAA Revinue'],
        ['jan', jan],
        ['feb', 1170],
        ['mar', 660],
        ['apr', 1030]
      ]);

      var options = {
        title: 'Battery reviue',
        curveType: 'function',
        legend: { position: 'bottom' }
      };

      var chart = new google.visualization.LineChart(document.getElementById('curve_chart1'));

      chart.draw(data, options);
    }

    var jan = 34564;
    var sum3 = 2588;

  </script>
  {{!-- ========================================================================================= --}}

  <script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['mo', 'AAA Revinue'],
        ['jan', jan],
        ['feb', 1170],
        ['mar', 660],
        ['apr', 1030]
      ]);

      var options = {
        title: 'Battery reviue',
        curveType: 'function',
        legend: { position: 'bottom' }
      };

      var chart = new google.visualization.LineChart(document.getElementById('curve_chart2'));

      chart.draw(data, options);
    }


  </script>
  <div class="container">
    <div class="row">
      <div class="col-4">
        1
        <div id="curve_chart0" style="width: 250px; height: 150px"></div>
      </div>
      <div class="col-4">
        2
        <div id="curve_chart1" style="width: 250px; height: 150px"></div>
      </div>
      <div class="col-4">
        3
        <div id="curve_chart2" style="width: 250px; height: 150px"></div>
      </div>
    </div>
  </div>


  <BR>
  <hr>
</div>
{{!-- =================================================== box data ==================================================== --}}


<div class="container">
  <div class="row">
    <div class="col-sm">
      <p>AAA Calls Sac <br> {{aaa_paid_sac}}</p>
    </div>
    <div class="col-sm">
      <p>AAA Calls Yuba <br> {{aaa_paid_yuba}}</p>
    </div>
    <div class="col-sm">
      <P>AAA Rev Sac <br> ${{aaa_sac_rev}}</P>
    </div>
    <div class="col-sm">
      <p>AAA Rev Yuba <br>${{aaa_yuba_rev}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <p>Battery Sales Sac <br> ${{battery_sales_sac}}</p>
    </div>
    <div class="col-sm">
      <p>Battery Installs Yuba <br>${{battery_sales_yuba}}</p>
    </div>
    <div class="col-sm">
      <P>Non AAA Revinue Sac <br> ${{non_aaa_rev_sac}}</P>
    </div>
    <div class="col-sm">
      <p>Non AAA Revinue Yuba <br>${{non_aaa_rev_yuba}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <p>Battery Installs Sac <br> {{battery_installs_sac}}</p>
    </div>
    <div class="col-sm">
      <p>Battery Installs Yuba <br> {{battery_installs_yuba}}</p>
    </div>
    <div class="col-sm">
      <P>shop Calls Sac <br> {{shop_calls_sac}}</P>
    </div>
    <div class="col-sm">
      <p>Shop Calls Yuba <br>{{shop_calls_yuba}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <p>PD Calls Sac <br> {{pd_calls_sac}}</p>
    </div>
    <div class="col-sm">
      <p>PD Cals Yuba <br> {{pd_calls_yuba}}</p>
    </div>
    <div class="col-sm">
      <P>Avg Calls per Day Sac <br> 50.2</P>
    </div>
    <div class="col-sm">
      <p>Avg Calls per Day Yuba <br>12</p>
    </div>
  </div>
</div>
</div>
